@import '../../styles.scss';

.menu-spacer {
  flex: 1 1 auto;
}

mat-grid-list {
  background-color: $cinza-medio;
}

mat-toolbar {
  background-color: $cinza-escuro;
  border-top: 1px solid $cinza-medio;

  div {
    width: 1140px;
    margin: auto;
  }
}
