<footer>
  <div id="conteiner">

    <!-- Logo -->
    <article>
      <h2>AnimeZone</h2>
    </article>

    <!-- Area de Login -->
    <article id="login" *ngIf="!this.usuario.logado">
      <form id="formRodape" (ngSubmit)="logar()">

        <!-- Input do nome -->
        <mat-form-field class="inputRodape">
          <mat-label>Usuario</mat-label>
          <input matInput placeholder="Ex. Guilherme123" [formControl]="login" required>
        </mat-form-field>

        <!-- Input da senha -->
        <mat-form-field class="inputRodape">
          <mat-label>Senha</mat-label>
          <input matInput [type]="mostrar ? 'password' : 'text'" [formControl]="senha" required>
          <button mat-icon-button matSuffix (click)="mostrar = !mostrar" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="mostrar">
            <mat-icon>{{mostrar ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>

          <!-- Botoes para envio -->
        </mat-form-field>
        <button mat-button class="botaoRodape" type="submit">Login</button>
        <button mat-button class="botaoRodape">Cadastrar</button>
      </form>
    </article>
  </div>

  <!-- Copyright -->
  <mat-toolbar>
    <div>
      <h4>{{ copyright }}</h4>
      <span class="menu-spacer"></span>
      <article *ngFor="let rede of redesSociais">
        <a [href]="rede.link" target="_blank">
          <button mat-icon-button>
            <mat-icon><img [src]="rede.icone" [alt]="rede.nome" class="filtro"></mat-icon>
          </button>
        </a>
      </article>
    </div>
  </mat-toolbar>
</footer>
