@import '../../assets/styles/variaveis.scss';

footer {
  background-color: $preto;
  padding-top: 20px;

  #conteiner {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1140px;
    margin: auto;
    padding: 10px 0 40px 0;

    @media (max-width: 1140px) {
      width: 100%;
      flex-direction: column;
    }

    article {
      width: 100%;
      text-align: center;

      h2 {
        color: $cinza-medio;
        font-family: $fonte-logo;
        font-size: $fonte-rodape;

        @media (max-width: 700px) {
          font-size: $fonte-grande;
        }
      }

      #formRodape {
        width: 80%;
        margin: auto;

        mat-form-field {
          width: 100%;
        }

        .botaoRodape {
          color: $cinza-medio;
          background-color: $cinza-escuro;
          border: 1px solid $cinza-medio;
          width: calc(50% - 10px);
          height: 50px;
          transition: all 0.5s;

          &:first-of-type {
            margin-right: 20px;
          }

          &:hover {
            color: $azul;
            border: 1px solid $azul;
            transform: scale(1.01);
          }
        }
      }
    }
  }

  mat-toolbar {
    background-color: $cinza-escuro;
    color: white;

    div {
      display: flex;
      align-items: center;
      width: 1140px;
      margin: auto;

      @media (max-width: 1140px) {
        width: 100%;
        flex-direction: column;
      }

      h4 {
        font-size: $fonte-pequena;

        @media (max-width: 1140px){
          font-size: x-small;
        }
      }

      .menu-spacer {
        flex: 1 1 auto;
      }

      article {
        @media (max-width: 1140px) {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
        }

        a {
          button {
            mat-icon {
              height: auto;

              .filtro {
                filter: invert(100%);
              }
            }
          }
        }
      }
    }
  }
}
