@import '../../assets/styles/variaveis.scss';
@import '~bootstrap/dist/css/bootstrap.min.css';

main {
  position: relative;
  min-height: 81vh;
  background-image: url('../../assets/background/BigBlueMoon.jpg');
  background-size: cover;
  background-attachment: fixed;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    background: linear-gradient(to bottom, transparent, black);
    opacity: 1;
  }

  #conteiner {
    z-index: 100;
    max-width: 1140px;
    padding: 50px 0;
    margin: auto;

    @media (max-width: 1140px) {
      width: 100%;
    }

    .titulo {
      width: 100%;
      padding: 15px;
      margin-bottom: 5px;
      border-radius: 4px;
      text-align: center;
      background-color: $cinza-escuro;
      color: $cinza-medio;

      @media (max-width: 1140px) {
        width: 80%;
        margin: auto;
      }

      h2 {
        margin: 0;
      }
    }

    .form-container {
      background-color: $cinza-escuro;
      border-radius: 4px;
      padding: 30px;
      margin-top: 5px;

      @media (max-width: 1140px) {
        border-radius: 0;
      }

      form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .input {
          width: 70%;

          @media (max-width: 1140px) {
            width: 100%;
          }
        }

        .botaoSubmit {
          color: $cinza-medio;
          background-color: $cinza-escuro;
          border: 1px solid $cinza-medio;
          border-radius: 4px;
          width: 70%;
          height: 50px;
          transition: all 0.5s;

          &:hover {
            color: $azul;
            border: 1px solid $azul;
            transform: scale(1.01);
          }
        }
      }

      article {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 40vh;
        color: $branco;
      }
    }
  }
}
