@import '../../styles.scss';

.menu-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: $cinza-escuro;


  h1 {
    font-family: $fonte-logo;
    font-family: $fonte-extra-grande;
    color: $cinza-medio;
    font-weight: bolder;
  }

}
