<mat-toolbar>
  <div>
    <mat-toolbar-row>
      <a>
        <h1>AnimeZone</h1>
      </a>
      <span class="menu-spacer"></span>
      <button mat-button>Categorias</button>

      <!-- Barra de pesquisa oculta -->
      <article>
        <button mat-icon-button aria-label="Pesquisa" onclick="preventDefoult()">
          <mat-icon class="icone">search</mat-icon>
        </button>
        <input type="text" placeholder="Pesquisar...">
      </article>
    </mat-toolbar-row>
  </div>
</mat-toolbar>
