@import '../../styles.scss';

.menu-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: $cinza-escuro;

  div {
    width: 1140px;
    margin: auto;

    h1 {
      font-family: $fonte-logo;
      font-size: $fonte-extra-grande;
      color: $cinza-medio;
      font-weight: bolder;
    }

    button {
      color: $cinza-medio;
      font-size: $fonte-pequena;
      margin: 10px;
    }

    .login {
      border: 1px solid $cinza-medio;
    }
  }
}
