@import 'assets/styles/variaveis.scss';

html,
body {
  height: 100%;
  font-family: $fonte-secundaria;
}

body {
  margin: 0;
  padding: 0;
  // Evita que a página fique branca quando o usuário da scroll além dos limites
  background-color: $cinza-escuro !important;

  a {
    text-decoration: none;
  }

  li {
    list-style-type: none;
  }
}
