<main>
  <div id="conteiner">
    <section class="titulo">
      <h2>Destaques</h2>
    </section>
    <section id="conteiner-cards">
      <div *ngFor="let anime of animes">
        <div [class]="(!anime.destaque ? 'none' : 'card')" *ngIf="anime.destaque">
          <section class="imagem-card">
            <img [src]="anime.imagem" class="img-fluid rounded-start" [alt]="anime.nome">
          </section>
          <section class="conteudo-card">
            <div class="card-body">
              <div class="textos">
                <h5 class="card-title">{{ anime.nome }}</h5>
                <p class="card-text">{{ anime.sinopse }}</p>
              </div>
              <div class="botoes">
                <button mat-button class="favorito">
                  <mat-icon aria-hidden="false" aria-label="Favorito" fontIcon="star_border"></mat-icon>
                </button>
                <button mat-button class="ver-mais">Ver Mais</button>
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>
</main>
